:root {
    --primary-color: #F0C300; /* Couleur jaune principale */
    --secondary-color: #F5A900; /* Couleur jaune foncée */
    --background-gradient: linear-gradient(to bottom, #F0C300, #FFFFFF);
    --font-family: 'Arial', sans-serif;
}

body {
    background-image: var(--background-gradient);
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

#logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-size: cover;
}

header {
    background-color: #000;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

form {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="number"] {
    padding: 12px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

input[type="number"]:focus {
    border-color: var(--primary-color);
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

button[type="submit"] {
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: #000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.result {
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recommendation-text {
    font-size: 17px;
    color: #333;
    text-align: justify;
    font-weight: normal;
    line-height: 1.5;
}

.back-button {
    margin-top: 30px;
    text-align: center;
}

.back-button a {
    text-decoration: none;
    color: #000;
    background-color: var(--primary-color);
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: var(--secondary-color);
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    form {
        width: 90%;
    }

    input[type="number"] {
        width: 90%;
    }

    button[type="submit"], .back-button a {
        width: 100%;
        padding: 15px;
    }
}
